<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ia.track"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="ia.track.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ia.track.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDvb53y4YwSlMHboY2FW8jG2TWwP0DP7Mc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
             android:name="ia.track.MapActivity"
            android:label="@string/title_activity_map" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ia.track.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ia.track.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ia.track.MapActivity" />
        </activity>
        <activity
            android:name="ia.track.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>